@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700|Source+Code+Pro:400&display=swap');
$global-font-family: Open Sans, sans-serif;
$toc-title-font-family: Open Sans Condensed, sans-serif;
$content-headers-font-family: Open Sans Condensed, sans-serif;
$single-title-font-family: Open Sans Condensed, sans-serif;

$callout-font-family: Open Sans, sans-serif;
$callout-font-size: 0.7rem;

$global-link-hover-color: #006699;
$global-link-hover-color-dark: #66ccff;

$single-link-color: #006699;
$single-link-color-dark: #66ccff;

$single-link-hover-color: #b8336a;
$single-link-hover-color-dark: #ff8fbe;