@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:700|Source+Code+Pro:400&display=swap');
$global-font-family: Open Sans, sans-serif;
$toc-title-font-family: Open Sans Condensed, sans-serif;
$content-headers-font-family: Open Sans Condensed, sans-serif;
$single-title-font-family: Open Sans Condensed, sans-serif;

$callout-font-family: Open Sans, sans-serif;
$callout-font-size: 0.7rem;