@import url('https://fonts.googleapis.com/css?family=Roboto:300,700|Roboto+Slab:700|Source+Code+Pro:400&display=swap');
$global-font-family: Roboto, sans-serif;
$global-font-size: 20px;
$global-font-weight: 300;

$toc-title-font-family: Roboto, sans-serif;
$content-headers-font-family: Roboto, sans-serif;
$single-title-font-family: Roboto Slab, serif;

$callout-font-family: Roboto, sans-serif;
$callout-font-size: 0.7rem;

$global-link-hover-color: #006699;
$global-link-hover-color-dark: #66ccff;

$single-link-color: #006699;
$single-link-color-dark: #66ccff;

$single-link-hover-color: #b8336a;
$single-link-hover-color-dark: #ff8fbe;

@import "_mapextend.scss";

$override: (
    'code-type-map': (
        'language-ini': 'Config',
        'language-squidconf': 'Config',
        'language-plaintext': ''
    )
);

$code-type-map: map-extend($code-type-map, map-get($override, 'code-type-map'), true);
