<div class="cookieconsent-optout details admonition warning open">
  <div class="details-summary admonition-title">
    <i class="icon fas fa-exclamation-triangle fa-fw"></i>Contenido externo<i class="details-icon fas fa-angle-right fa-fw"></i>
  </div>
  <div class="details-content">
    <div class="admonition-content">
      <p>El contenido que se iba a mostrar aquí puede utilizar cookies de <strong>{{ .Site }}</strong>.
        Para verlo debe indicar que está de acuerdo con su <a href="{{ .PolicyLink }}">politica de privacidad</a>
        o aceptar la política de cookies de este sitio web en el aviso general de la parte inferior de esta página.</p>
      <p><a class="cookieconsent-action-allow">De acuerdo</a></p>
    </div>
  </div>
</div>