{{- $type := .Get "type" | default (.Get 0) -}}
{{- $src := .Get "src" | default (.Get 1) -}}
{{- if $type | eq "video" -}}
  {{- $src = ( printf "https://www.facebook.com/plugins/video.php?href=%s&show_text=0" $src) -}}
{{- else if $type | eq "post" -}}
  {{- $src = ( printf "https://www.facebook.com/plugins/post.php?href=%s&" $src) -}}
{{- end -}}
{{- $options := dict "Src" $src -}}
{{- if .Get "caption" -}}
  {{- $options = dict "Caption" (.Get "caption") | merge $options -}}
{{- end -}}
<div class="cookieconsent-section">
  {{- if $.Site.Params.cookieconsent | and $.Site.Params.cookieconsent.enable -}}
    {{- dict "Site" "facebook.com" "PolicyLink" "https://www.facebook.com/policy.php" | partial "externalcookie.html" -}}
    {{- $options = dict "CookieConsentTag" "marketing" | merge $options -}}
  {{- end -}}
  {{- partial "iframe.html" $options -}}
</div>