{{- $type := .Get "type" | default (.Get 0) -}}
{{- $id := .Get "id" | default (.Get 1) -}}
{{- $start := .Get "start" | default "false" -}}
{{- $loop := .Get "loop" | default "false" -}}
{{- $delay := .Get "delay" | default "3000" -}}
{{- $options := dict "Src" ( printf "https://docs.google.com/%s/d/e/%s/embed?start=%s&loop=%s&delayms=%s" $type $id $start $loop $delay ) -}}
{{- if .Get "caption" -}}
  {{- $options = dict "Caption" (.Get "caption") | merge $options -}}
{{- end -}}
{{- if $.Site.Params.cookieconsent | and $.Site.Params.cookieconsent.enable -}}
  {{- dict "Site" "google.com" | partial "thirdpartycookies.html" -}}
  {{- $options = dict "CookieConsentTag" "statistics" | merge $options -}}
{{- end -}}
{{- partial "iframe.html" $options -}}