{{- $id := .Get "id" | default (.Get 0) -}}
{{- $lang := .Get "lang" | default (.Get 1) -}}
{{- $options := dict "Src" ( printf "https://embed.ted.com/talks/lang/%s/%s" $lang $id ) -}}
{{- if .Get "caption" -}}
  {{- $options = dict "Caption" (.Get "caption") | merge $options -}}
{{- end -}}
<div class="cookieconsent-section">
  {{- if $.Site.Params.cookieconsent | and $.Site.Params.cookieconsent.enable -}}
    {{- dict "Site" "ted.com" "PolicyLink" "https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy" | partial "externalcookie.html" -}}
    {{- $options = dict "CookieConsentTag" "statistics" | merge $options -}}
  {{- end -}}
  {{- partial "iframe.html" $options -}}
</div>